.btnclick {
  color: #f1f1f1;
  background-color: black;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  border-style: solid;
}

@media screen and (max-width: 800px) {
  .table {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .tbody {
    width: 100%;
  }
}
